@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Semibold.ttf);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-LightItalic.ttf);
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-ExtraBoldItalic.ttf);
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: Arvo;
    src: url(../fonts/Arvo-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: RobotoSlab;
    src: url(../fonts/RobotoSlab-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}